@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway/static/Raleway-Regular.ttf");
}

body {
  font-family: "Raleway", sans-serif;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

header figure {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 1.875em;
}

a.inscriptionLink {
  color: #0065fc;
  font-weight: bold;
  border: none;
}

h1 {
  margin-bottom: 8px;
}

h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1em;
}

form {
  display: flex;
  align-items: center;
}

form input {
  margin-left: 0;
  margin-right: 0;
}

form button {
  margin-left: 0;
}
