@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway/static/Raleway-Regular.ttf");
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
}
