header {
  display: block;
  margin-top: 0.5em;
}

.marginLeft {
  margin-left: 0;
}

.marginRight {
  margin-right: 0;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

nav figure {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 1em;
  margin-left: 1em;
}

nav figure,
.inscriptionLink {
  display: grid;
  align-items: center;
}

.inscriptionLink {
  grid-column: 2;
  grid-row: 1;
  justify-content: flex-end;
}

.menu a:nth-child(2) {
  grid-column: 1;
}

.menu a:nth-child(3) {
  grid-column: 2;
}

.menu a:nth-child(2),
.menu a:nth-child(3) {
  grid-row: 2;
  display: grid;
  justify-content: space-around;
  width: 100%;
  border-bottom: 3px solid #f2f2f2;
  padding-bottom: 5px;
  margin-right: 0;
}

.menu a:hover {
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
  border-top: none;
}

.menu .inscriptionLink:hover {
  border: none;
}

section h1 {
  margin-left: 1em;
  margin-right: 2em;
  font-size: 1.25em;
  width: 80%;
}

section h2 {
  margin-left: 1.25em;
  font-size: 1em;
}

form {
  margin-left: 1.25em;
}

form .input {
  width: 70%;
}
form .searchText {
  display: none;
}

form .wen {
  display: block;
  margin-left: -1em;
  border: none;
  border-radius: 10px;
  height: 52px;
  color: white;
  background-color: #0065fc;
  font-weight: bold;
  font-size: 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.wen i {
  background-color: transparent;
  border: none;
  color: white;
}

.filters {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2em;
}

.filters ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5em;
}

.filters ul li {
  margin-bottom: 1em;
}

.informations {
  margin-left: 1.25em;
  width: 80%;
}
