.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2em;
}

.descriptionHebergement h3 {
  font-size: 10px;
}

footer {
  padding-left: 0;
  justify-content: space-around;
}

footer nav {
  margin-right: 0;
}
