/* Style apporté à la nav bar .filters et son contenu */

.filters {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2em;
}

.filters ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 0.5em;
  margin-left: 0;
  width: 80%;
}

.filters ul li {
  margin-bottom: 1em;
}

/* Style apporté à la div qui contient l'élément artcile et aside et ses élements enfants */

.articleAndAside {
  flex-direction: column-reverse;
}

article {
  margin-right: 0;
}

aside {
  margin-bottom: 1.5em;
}

/* Style apporté à la div .populaire et à son contenu (carte, liens, image des cartes) */

.populaire {
  flex-direction: row;
  margin-right: 0;
}

.populaire a {
  width: 33%;
}

.populaireCard {
  flex-direction: column;
  margin-right: 1em;
}

.populaireCard img {
  height: 120px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.displayInRow {
  flex-direction: column;
}

.firstThreeActivities {
  margin-bottom: 1em;
  margin-right: 0;
}

/* Syle du footer et de son enfant (la nav bar) */

footer {
  padding-left: 0;
  justify-content: space-around;
}

footer nav {
  margin-right: 0;
}
